html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  width: 100%; }

*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }
  *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  width: 100%;
  height: 100%;
  font-size: 1.0rem;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  line-height: normal; }

.page {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  min-height: 200px;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

/* Typography */
.title {
  color: #757575;
  font-weight: 400; }

.title_wht {
  color: #fffefe; }

.title_h3 {
  font-size: 1.4rem; }

.title_hr {
  display: inline-block;
  position: relative; }

.parag {
  font-weight: 400;
  color: #757575; }

/* Typography End */
/* Header */
.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  top: 0px;
  width: 100%;
  min-height: 30px;
  margin: 0 auto;
  background-color: #e91e63;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24); }

.header_mob {
  padding: 16px 16px 0px 16px;
  max-height: 116px; }

.header__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_info_mob {
  padding-bottom: 14px; }

.header__logo {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 59%;
      -ms-flex: 0 1 59%;
          flex: 0 1 59%; }

.header__logo_mob {
  max-width: 176px; }

.header__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.menu {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.header__menu {
  padding-bottom: 8px; }

.menu__item {
  position: relative;
  display: inline;
  text-transform: uppercase;
  color: #f8bbd0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: 700; }
  .menu__item:hover {
    color: #fffefe; }
  @media only screen and (min-width: 576px) {
    .menu__item:not(:last-child) {
      margin-right: 24px; } }

.menu__item_mob {
  font-size: 1.4rem; }

.menu__item_active:after {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: #fffefe;
  z-index: 2; }

.menu__dropdown {
  display: none;
  width: auto;
  min-height: 30px;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.2rem !important;
  line-height: 1.73 !important;
  background-color: #e91e63; }

.menu__dropdown_left {
  left: 16px;
  bottom: -98px;
  padding: 14px 22px 12px 16px;
  margin-left: -16px; }
  .menu__dropdown_left:hover {
    position: absolute;
    display: inline-block; }

.menu__lottery:hover .menu__dropdown_left {
  position: absolute;
  display: inline-block; }

.menu__dropdown_right {
  display: none;
  right: 0px;
  bottom: -98px;
  padding: 12px 16px 12px 22px;
  text-align: right; }
  .menu__dropdown_right:hover {
    position: absolute;
    display: inline-block; }

.menu__bets {
  position: relative; }

.menu__dropdown_bets {
  display: none;
  left: -18px;
  bottom: -184px;
  padding: 12px 16px 12px 18px;
  color: #f8bbd0; }

.menu__bets:hover .menu__dropdown_bets {
  position: absolute;
  display: inline-block; }

.dropdown__link_lc {
  font-weight: 400;
  text-transform: none;
  margin-left: 12px; }

.menu__profile:hover ~ .menu__dropdown_right {
  position: absolute;
  display: inline-block; }

.dropdown__link {
  color: #f8bbd0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: 6px; }
  .dropdown__link:hover {
    color: #fffefe; }

.user-pic {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-left: 10px; }

.user-pic_mobile {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  background-color: red; }

.user-pic__image {
  height: 100%;
  width: auto;
  margin-left: -50%;
  margin-right: 50%;
  -o-object-fit: cover;
     object-fit: cover; }

.user-name {
  max-width: 33.33%;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  text-align: right; }
  @media only screen and (min-width: 576px) {
    .user-name {
      margin-left: auto;
      margin-right: 0px !important; } }

.menu__triangle {
  position: relative;
  top: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 5px solid #f8bbd0;
  margin-left: 12px; }

/* Header END */
.content {
  width: 100%;
  height: 100%; }

.content_mob {
  padding: 18px 12px 0px 12px; }

.tourney {
  width: 100%;
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dbdbdb; }

.tourney_mob {
  padding-bottom: 8px;
  margin-bottom: 14px; }

.tourney__logo {
  width: 20.8%; }

.tourney__logo_mob {
  margin-right: 6%; }

.tourney__text {
  width: 24.16%; }

.tourney__text_mob {
  font-size: 1rem;
  line-height: 1.83;
  margin-right: 6%; }

.carousel {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 122px;
      -ms-flex: 1 0 122px;
          flex: 1 0 122px;
  width: 122px;
  /* min-height: 125px; */ }

.swiper-container {
  width: 100%;
  height: 100%; }

/* Footer */
.footer {
  background-color: #e91e63;
  width: 100%;
  min-height: 10px;
  -webkit-box-shadow: 0px -3px 16px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px -3px 16px -1px rgba(0, 0, 0, 0.3); }

.footer_mob {
  padding: 9px 12px 9px 12px; }

.footer__menu {
  position: relative;
  text-align: left;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 16px; }
  @media only screen and (min-width: 576px) {
    .footer__menu:not(:last-child) {
      margin-right: 24px; } }

.footer__logo {
  position: relative;
  top: -32px; }

.footer__logo_mob {
  max-width: 48px !important;
  max-height: 48px !important; }

@media only screen and (min-width: 576px) {
  .footer__item {
    margin-right: 24px; } }

.footer__item_mob {
  font-size: 1.2rem; }

/* Footer END */
/* Helpers */
.resp-img, .game-logo, .game-logo_mob {
  display: block;
  width: 100%;
  height: auto; }

.drk-gr {
  color: #757575 !important; }

.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.txt-c {
  text-align: center; }

.txt-r {
  text-align: right; }

/* Helpers End */
