@import 'reset';

$magenta: #e91e63;
$cherry: #c3185c;
$dark-grey: #757575;
$grey: #818181;
$light-grey: #dbdbdb;
$white: #fffefe;
$pink: #f8bbd0;
$black: #212121;

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-size: 1.0rem;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    line-height: normal;
}
.page {
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 200px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Typography */
.title {
    color: $dark-grey;
    font-weight: 400;
}
.title_wht {
    color: $white;
}
.title_h3 {
    font-size: 1.4rem;
}
.title_hr {
    display: inline-block;
    position: relative;
}
.parag {
    font-weight: 400;
    color: $dark-grey;
}

/* Typography End */


/* Header */
.header {
    position: sticky;
    z-index: 5;
    top: 0px;
    width: 100%;
    min-height: 30px;
    margin: 0 auto;
    background-color: $magenta;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.24);
}
.header_mob {
    padding: 16px 16px 0px 16px;
    max-height: 116px;
}
.header__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.header_info_mob {
    padding-bottom: 14px;
}
.header__logo {
    flex: 0 1 59%;

}
.header__logo_mob {
    max-width: 176px;
}
.header__user {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.menu {
    flex-wrap: nowrap;
}
.header__menu {
    padding-bottom: 8px;
}
.menu__item {
    position: relative;
    display: inline;
    text-transform: uppercase;
    color: $pink;
    transition: all 0.3s linear;
    &:hover {
        color: $white;
    }
}

.menu__item_2 {
    padding-left: 12% !important;
}
.menu__item_mob {
    font-size: 1.4rem;
    font-weight: 700;
}
.menu__item_active:after {
    position: absolute;
    content: "";
    left: 0px;
    bottom: -8px;
    width: 100%;
    height: 4px;
    background-color: $white;
    z-index: 2;
}
.menu__dropdown {
    display: none;
    width: auto;
    min-height: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1.2rem !important;
    line-height: 1.73 !important;
    background-color: $magenta;
}
.menu__dropdown_left {
    left: 0px;
    top: 16px;
    padding: 14px 22px 12px 16px;
    margin-left: -16px;

    &:hover {
        position: absolute;
        display: inline-block;
    }
}
.menu__lottery:hover .menu__dropdown_left {
    position: absolute;
    display: inline-block;
}
.menu__dropdown_right {
    display: none;
    right: 0px;
    bottom: -96px;
    padding: 12px 16px 12px 22px;
    text-align: right;

    &:hover {
        position: absolute;
        display: inline-block;
    }
}
.menu__profile:hover ~ .menu__dropdown_right {
    position: absolute;
    display: inline-block;
}
.dropdown__link {
    color: $pink;
    transition: all 0.3s linear;
    &:hover {
        color: $white;
    }
}
.user-pic {
    border-radius: 50%;
    margin-left: 10px;
}
.user-pic_mobile {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: red;
}
.user-pic__image {
    height: 100%;
    width: auto;
    margin-left: -50%;
    margin-right: 50%;
    object-fit: cover;
}
.user-name {
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
/* Header END */

.content {
    width: 100%;
    height: 100%;
}
.content_mob {
    padding:  18px 12px 0px 12px;
}
.tourney {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid $light-grey;
}
.tourney_mob {
    padding-bottom: 8px;
    margin-bottom: 14px;
}
.tourney__logo {
    width: 20.8%;
}
.tourney__logo_mob {
    margin-right: 6%;
}

.tourney__text {
    width: 24.16%;
}
.tourney__text_mob {
    font-size: 1rem;
    line-height: 1.83;
    margin-right: 6%;
}
.carousel {
    flex: 1 0 122px;
    width: 122px;
    /* min-height: 125px; */
}
.swiper-container {
    width: 100%;
    height: 100%;
}


/* Footer */
.footer {
    background-color: $magenta;
    width: 100%;
    min-height: 10px;
    box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.24);
}
.footer_mob {
    padding: 9px 12px 9px 12px;
}
.footer__menu {
    position: relative;
    text-align: left;
    justify-content: space-between;
    max-height: 16px;
}
.footer__logo {
    position: relative;
    top: -18px;
}
.footer__logo_mob {
    max-width: 34px !important;
    max-height: 34px !important;
}
.footer__item_mob {
    font-size: 1.2rem;
}
.menu__item_3 {
    padding-left: 6.7% !important;
}
/* Footer END */

/* Helpers */
.resp-img, .game-logo, .game-logo_mob {
    display: block;
    width: 100%;
    height: auto;
}
.game-logo_mob {
    transform: scale(0.8);
}
.drk-gr {
    color: $dark-grey !important;
}
.center {
    justify-content: center;
}
.txt-c {
    text-align: center;
}
.txt-r {
    text-align: right;
}
/* Helpers End */
